<!--- Header and nav template site-wide -->
<header style="position: relative; width: 95%;">
    <style>
        nav {
            /* Add some padding and a background color to the nav element */
            padding: 10px;
        }

        nav a {
            /* Remove the underlines from the links */
            text-decoration: none;
            /* Make the text white and slightly larger */
            text-decoration: none;
        }

        nav a:hover {
            /* Change the text color when the mouse hovers over the link */
            color: #ccc;
        }
    </style>
    <h1 class="header-title">
        <a href="{{ site.baseurl }}/">{{ site.title }}</a>
        <a href="https://scholar.google.ca/citations?user=6gnCkJ0AAAAJ&hl=en">
            <img src="/google-scholar-icon.svg" alt="Google Scholar link"
                style="width: 42px; height: 42px; margin: 10px; filter: grayscale(100%) brightness(0%);" />
        </a>
        <a href="https://github.com/AndrewRWilliams">
            <img src="/github-icon.svg" alt="Github link" style="width: 42px; height: 42px; margin: 10px;" />
        </a>
        <a href="https://www.linkedin.com/in/andrew-robert-williams/">
            <img src="/linkedin-icon.png" alt="LinkedIn link"
                style="width: 42px; height: 42px; margin: 10px; filter: grayscale(100%) contrast(1000%);" />
        </a>
    </h1>
    <p style="margin-top: -40px; margin-left: 10px">
        Andrew Williams
    </p>
    <p style="font-size: 0.85em; color: gray; margin-top: -10px; margin-left: 10px;">
        first [dot] last [at] umontreal [dot] ca
    </p>
    <nav class="group">
        <a href="{{ site.baseurl }}/work">Research</a>
        <a href="{{ site.baseurl }}/blog">Blog</a>
        <a href="{{ site.baseurl }}/cv">CV</a>
    </nav>
    <div style="position: absolute; top: 20px; right: 0; z-index: 9999;">
        <label for="theme-toggle" style="cursor: pointer; font-size: 56px;" title="Toggle Dark Mode">
            <input type="checkbox" id="theme-toggle" style="display: none;">
            <span id="moon-icon">&#9789;</span>
        </label>
    </div>
</header>

<script>
    console.log("Dark mode script loaded");
    const themeToggle = document.getElementById("theme-toggle");
    const currentTheme = localStorage.getItem("theme");

    if (currentTheme === "dark") {
        document.body.classList.add("dark-mode");
        themeToggle.checked = true;
    } else if (currentTheme === "light") {
        document.body.classList.remove("dark-mode");
        themeToggle.checked = false;
    } else if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        // System preference
        document.body.classList.add("dark-mode");
        themeToggle.checked = true;
    }

    themeToggle.addEventListener("change", () => {
        if (themeToggle.checked) {
            document.body.classList.add("dark-mode");
            localStorage.setItem("theme", "dark");
        } else {
            document.body.classList.remove("dark-mode");
            localStorage.setItem("theme", "light");
        }
    });
</script>