<!--- Header and nav template site-wide -->
<header>
    <style>
        nav {
            /* Add some padding and a background color to the nav element */
            padding: 10px;
        }
        nav a {
            /* Remove the underlines from the links */
            text-decoration: none;
            /* Make the text white and slightly larger */
        }
        nav a:hover {
            /* Change the text color when the mouse hovers over the link */
            color: #ccc;
        }
    </style>
    <div class="header-container">
        <h1 class="header-title">
            <a href="{{ site.baseurl }}/">{{ site.title }}</a>
        </h1>
        <nav class="group">
            <a href="https://scholar.google.ca/citations?user=6gnCkJ0AAAAJ&hl=en">
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Google_Scholar_logo.svg"
                    alt="Google Scholar link"
                    style="width: 42px; height: 42px; margin: 10px"
                />
            </a>
            <a href="https://github.com/AndrewRWilliams">
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg"
                    alt="Github link"
                    style="width: 42px; height: 42px; margin: 10px"
                />
            </a>
            <a href="https://www.linkedin.com/in/andrew-robert-williams/">
                <img
                    src="https://upload.wikimedia.org/wikipedia/commons/8/81/LinkedIn_icon.svg"
                    alt="LinkedIn link"
                    style="width: 42px; height: 42px; margin: 10px"
                />
            </a>
        </nav>
    </div>
    <h2 class="header-subtitle">{{ site.subtitle }}</h2>
</header>
